.Chat{
    width: 76%;
    padding: 1rem 0;
    overflow-y:scroll;
    scrollbar-width: none;
    padding-bottom: 5rem;
    font-size: 15px;
}

.reply {
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: #181818;
    margin: 1rem auto;
    margin-left: 0;
    padding: 1rem;
    border-radius: 1.2rem;

}

.prompt{
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: #2b2b2b;
    margin-left: auto;
    width: 60%;
    padding: 1rem;
    border-radius: 1.2rem;
}
li{
    margin:0 1rem
}

.hljs{
    border-radius: 1rem;
}

pre{
    white-space: pre-wrap;
}