.recents{
    margin: 1rem 0;
    background-color: black;
    width: 100%;
    height: 90%;
}
.history{
    margin: 1rem 0.5rem;
    list-style: none;
    margin:1rem 1px;
}
.history li{
    display: flex;
    justify-content: space-between;
    height: 1.8rem;
    margin: 2px;
    padding: 6px 10px;
    cursor: pointer;
    align-content:center;
    border-radius: 0.5rem;
}

.history li p{
    white-space: nowrap;      
    overflow: hidden;          
    text-overflow: ellipsis; 
}

.history li:hover{
    background-color: #181818;
}
.history li:active {
    background-color: #2f2f2f;
}
.history li a{
    text-decoration: none;
    color: white;
}

.user{
    position: sticky;
    bottom: 0;
    height: 8%;
    background-color: inherit;
}
.Sidebar{
    width: 20%;
    display: flex;
    box-sizing: border-box; 
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    height: 100%;
    font-size:14px;
    scrollbar-width: thin;
    scrollbar-color: #212121 black;
    background-color: inherit;
    border-right: 0.2px solid #ffffff4a;
}
.logo{
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    object-fit:cover;
    border-radius: 1rem;
    margin: 12px;
}

.fa-pen-to-square{
    color: white;
    margin: 10px;
}
.newChat{
    background-color: inherit;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    cursor: pointer;
    border: none;
    outline: none;
}

.fa-trash-can{
    display: none;
}

li:hover .fa-trash-can{
    display: inline-block;
}

.fa-trash-can:hover{
    color: rgb(255, 115, 115) !important;
}

